<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="login-layout">
        <section class="login">
            <p class="Sign" align="center">Sign in</p>
            <form method="post">
                <input class="user"type="text" placeholder="Username" />
                  <input class="pass"type="password" placeholder="Password" />
                  <a class="submit" align="center"href="<%=profiles_path %>">Log in</a>
                  <p class="not-regist " align="center">Not registered?<a href="#">Create an account</a></p>
              </form>
              <i class="fa fa-facebook-square" style="font-size:48px;color:rgb(0, 0, 153); margin-left: 20%"></i>
              <i class="fa fa-google-plus" style="font-size:48px;color:red "></i>
        </section>
    </div>
</body>
</html>